h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  text-align: center;
}
h3 {
  font-size: 1.33rem;
}
body {
  /* background provided by svgbackgrounds.com */
  background-color: #393637;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%2318cc1e' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%231c792a' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%232cc351' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%231a6d28' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%2339ba6e' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23195f25' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2344b085' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23174f23' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%234da599' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23153a20' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23559aaa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%2313181d' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
header {
  display: block;
  color: white;
  background-color: darkred;
  max-width: 420px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
ul {
  list-style-type: circle;
}
.border{
    border-style: double;
    border-width: 4px;
}
.instructions {
  display: list-item;
  max-width: 395px;
  color: white;
  background-color: darksalmon;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.randomNumber {
  color: white;
  background-color: red;
  max-width: 395px;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.scoreBoard {
  display: block;
  background-color: darkred;
  color: white;
  width: 395px;
  margin-bottom: 5px;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.crystal {
  max-width: 100px;
  margin: auto;
}
.crystals {
  display: block;
  width: 420px;
  color: white;
}
